h1 {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
#movie-container {
    border: 2px solid blue
}
#movie-container section {
    display: flex;
    justify-content: center;
    flex-direction: row;

}